:root {
  /* Farben */
  --bgcMain: 20 5% 75%;
  --txtMain: 0 100% 100%;
  --bgcBackground: 60 0% 10%;
  --txtBackground: 0 100% 100%;
  /* UserInterface SIZES */
  --navbarHeight: 3rem;
  --footerHeight: calc(var(--navbarHeight)*1.2);
  --padding: 0.5rem;
  --gridGap: 1.5rem;
  --cardGap: 0.5rem;
  --paddingVertical: 0.167rem;
  --mainMargin: auto 10rem;
  --UIPadding: 0.2rem;
  --UIHeight: 1.667rem;
  --UIHeightDouble: 3.333rem;
  --UIHeightTriple: 10rem;
  --UIWidthSmall: 5rem;
  --UIWidthMedium: 6.667rem;
  --UIWidthNorm: 10rem;
  --UIWidthWide: 20rem;
  --CardsMinWidth: 25rem;
  --CardsMaxWidth: 30rem;
  --ImgPreviewWidth: 15rem;
  --filter: 1;
  /* Borders */
  --UIBorderThin: 0.042rem solid hsl(var(--bgcMain));
  --UIBorderThick: 0.067rem solid hsl(var(--bgcMain));
  /* Fonts and Timedelays */
  --trT-short: 0.3s;
  /* --trT-medium: 0.5s; */
  --trT-long: 0.5s;
  --fs-Base: 16px;
  --fs-Medium: 1.1rem;
  --fs-Large: 1.2rem;
  --fw-Base: 200;
  --fw-500: 500;
  --fw-600: 600;
}

/* ----------------- FONTS ----------------- */
@font-face {
  font-family: "HKGrotesk";
  src:
    url("/font/HKGrotesk-Light.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "HKGrotesk";
  src:
    url("/font/HKGrotesk-Regular.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "HKGrotesk";
  src:
    url("/font/HKGrotesk-Italic.woff2") format("woff2");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "HKGrotesk";
  src:
    url("/font/HKGrotesk-SemiBold.woff2") format("woff2");
  font-weight: 600;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "HKGrotesk", arial;
  font-size: var(--fs-Base);
  font-weight: var(--fw-Base);
}

*::after, *::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  display: -webkit-box;
  display: flex;
  background-color: hsl(var(--bgcBackground));
  color: hsl(var(--txtBackground));
  -webkit-transition: all var(--trT-long) ease-in-out;
  -o-transition: all var(--trT-long) ease-in-out;
  transition: all var(--trT-long) ease-in-out;
  -webkit-box-pack: center;
  justify-content: center;
}

input, textarea, button, div {
  margin: var(--UIPadding);
  padding: var(--UIPadding);
  border: none;
}

h1 {
  font-size: var(--fs-Medium);
  font-weight: var(--fw-600);
  text-align: center;
  text-justify: center;
}

h2 {
  font-size: var(--fs-Medium);
  font-weight: var(--fw-500);
  text-align: center;
  padding-bottom: var(--padding);
}

h3 {
  font-size: var(--fs-Medium);
  font-weight: var(--fw-600);
  text-align: justify;
  padding: var(--padding);
}

div, a {
  font-size: var(--fs-Base);
  font-weight: var(--fw-Base);
  border: none;
  color: hsl(var(--txtBackground));
}

input, button {
  width: var(--UIWidthWide);
  height: var(--UIHeight);
  color: hsl(var(--txtBackground));
  -webkit-transition: all var(--trT-short) ease-in-out;
  -o-transition: all var(--trT-short) ease-in-out;
  transition: all var(--trT-short) ease-in-out;
}

button {
  border: var(--UIBorderThick);
  cursor: pointer;
  background: transparent;
}

button:hover,
button:focus {
  background: hsla(var(--bgcMain) / 0.3);
}

/* button */
textarea {
  width: var(--UIWidthWide);
  height: var(--UIHeightTriple);
}

p {
  text-align: left;
  padding: calc(var(--UIPadding) * 1);
}

span {
  display: block;
}

li {
  margin-left: 1rem;
}

img {
  width: 100%;
  -webkit-transition: all var(--trT-long) ease-in-out;
  -o-transition: all var(--trT-long) ease-in-out;
  transition: all var(--trT-long) ease-in-out;
}

/*-----------------NAVBAR -----------------*/
nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: var(--mainMargin);
  max-height: var(--navbarHeight);
  background: hsl(var(--bgcBackground));
  border-bottom: var(--UIBorderThick);
  display: grid;
  grid-gap: var(--padding);
  grid-auto-flow: column;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  overflow: hidden;
  -webkit-transition: all var(--trT-long) ease-in-out;
  -o-transition: all var(--trT-long) ease-in-out;
  transition: all var(--trT-long) ease-in-out;
  z-index: 100;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  margin: var(--mainMargin);
  height: var(--footerHeight);
  background: hsl(var(--bgcBackground));
  border-top: var(--UIBorderThick);
  display: grid;
  grid-template-columns: repeat(7, auto);
  grid-template-rows: auto;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-transition: all var(--trT-long) ease-in-out;
  -o-transition: all var(--trT-long) ease-in-out;
  transition: all var(--trT-long) ease-in-out;
  z-index: 100;
}

.cl_navElements, .cl_footerElements {
  color: hsl(var(--txtMain));
  padding: var(--padding);
  font-size: var(--fs-Large);
  font-weight: bold;
  -webkit-transition: all var(--trT-short) ease-in-out;
  -o-transition: all var(--trT-short) ease-in-out;
  transition: all var(--trT-short) ease-in-out;
  cursor: pointer;
}

.cl_navElements:hover,
.cl_navElements:focus,
.navbarActive {
  background: hsla(var(--bgcMain) / 0.3);
}

.navbarDropActive {
  max-height: 512px;
}

.cl_nav_hidables {
  display: none;
}

.highlight,
.highlight:hover,
.highlight:focus {
  background: hsla(var(--bgcMain) / 0.3);
  cursor: pointer;
}

/*----------------- FOOTER -----------------*/
.cl_footer_hidables {
  display: initial;
}

.cl_footerLinks {
  display: grid;
  grid-gap: var(--cardGap);
  grid-auto-flow: column;
  background: hsla(var(--bgcMain) / 0.7);
  -webkit-box-pack: center;
  justify-content: center;
  cursor: pointer;
}

.cl_footerImageLink {
  width: calc(var(--navbarHeight)*0.5);
}

.cl_spotifySmall {
  width: 12.5rem;
  height: 3.333rem;
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-transition: all var(--trT-short) ease-in-out;
  -o-transition: all var(--trT-short) ease-in-out;
  transition: all var(--trT-short) ease-in-out;
}

.cl_spotifySmall:hover, .cl_spotifySmall:focus {
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
  -webkit-transform: translateY(-60%);
  transform: translateY(-60%);
}

#idDiv_footer_Spacer {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}

.cl_darkmodeBtn {
  width: calc(var(--footerHeight)*0.4);
  aspect-ratio: 1;
}

/* -----------------main AREA -----------------*/
main {
  display: -webkit-box;
  display: flex;
  width: 100%;
  position: relative;
  top: var(--navbarHeight);
  min-height: calc(100vh - var(--navbarHeight) - var(--footerHeight));
  -webkit-box-pack: center;
  justify-content: center;
  margin: var(--mainMargin);
  padding-bottom: var(--footerHeight);
}

section {
  margin: var(--padding);
  -webkit-box-pack: center;
  justify-content: center;
  width: 100%;
}

.cl_section_horizontal {
  display: grid;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  grid-template-rows: auto;
  /* das Verhältnis 3fr 2fr ist quasi: 3 Teil linke spalte(text), 2 Teil rechte Spalte(Bild). Finde ich etwas schicker, da der text ein wenig mehr platz hat*/
  grid-template-columns: 3fr 2fr;
  grid-gap: var(--cardGap);
  -webkit-box-pack: center;
  justify-content: center;
}

.cl_section_vertical {
  display: grid;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  grid-template-columns: 1fr;
  grid-gap: var(--cardGap);
  -webkit-box-pack: center;
  justify-content: center;
}

.cl_spanAll {
  grid-column: 1 / span all;
}

/*----------------- News -----------------*/
.cl_newsGrid {
  display: grid;
  grid-gap: var(--cardGap);
  grid-template-columns: var(--CardsMaxWidth);
  /* grid-auto-columns: var(--CardsMaxWidth); */
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}

.cl_newsGrid_text {
  padding: calc(var(--padding) * 1);
}

.cl_newsGrid_link {
  cursor: pointer;
}

.cl_newsGrid_link:hover,
.cl_newsGrid_link:focus {
  background: hsla(var(--bgcMain) / 0.3);
}

.cl_homeOverlay {
  grid-row: 1/-1;
  grid-column: 1/-1;
}

.cl_homeHidden {
  opacity: 0;
  -webkit-transition: all var(--trT-long) ease-in-out;
  -o-transition: all var(--trT-long) ease-in-out;
  transition: all var(--trT-long) ease-in-out;
}

/* -----------------Konzerte -----------------*/
.cl_konzertGrid {
  display: grid;
  grid-gap: var(--cardGap);
  max-width: min(100%, 100vw);
  grid-template-columns: repeat(5, auto);
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}

.cl_konzertFullRow {
  grid-column: 1 / -1;
}

/* -----------------Ensembles -----------------*/
.cl_Ensembles {
  display: grid;
  width: auto;
  -webkit-box-pack: center;
  justify-content: center;
  grid-auto-flow: row;
  grid-template-columns: repeat(auto-fill, max(var(--CardsMinWidth), calc(100% / 4)));
  grid-gap: var(--cardGap);
}

/* -----------------DISKO -----------------*/
.cl_Disko {
  display: grid;
  width: 100%;
  max-height: calc(100vh - var(--navbarHeight) - var(--footerHeight));
  grid-auto-flow: column;
  grid-auto-columns: auto -webkit-min-content;
  grid-auto-columns: auto min-content;
  grid-gap: var(--cardGap);
}

.cl_diskoWrapper {
  max-height: calc(100vh - var(--navbarHeight) - var(--footerHeight));
  width: 100%;
  overflow-y: scroll;
}

.cl_Disko_PreviewGrid {
  display: grid;
  width: 100%;
  grid-auto-flow: row;
  grid-template-columns: repeat(auto-fill, max(var(--ImgPreviewWidth), calc(100% / 4)));
  grid-gap: var(--cardGap);
  overflow-y: scroll;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}

.cl_diskoPreview {
  -webkit-transition: all var(--trT-short) ease-in-out;
  -o-transition: all var(--trT-short) ease-in-out;
  transition: all var(--trT-short) ease-in-out;
  cursor: pointer;
}

.cl_diskoPreview:hover,
.cl_diskoPreview:focus {
  /* border: var(--UIBorderThick); */
  transform: scale(1.05);
}

.cl_Disko_CardGrid {
  position: relative;
  width: var(--CardsMinWidth);
  margin: 0;
  padding: 0;
}

.cl_cardDisko {
  position: absolute;
  opacity: 0;
  -webkit-transition: all var(--trT-long) ease-in-out;
  -o-transition: all var(--trT-long) ease-in-out;
  transition: all var(--trT-long) ease-in-out;
  -webkit-transform: scaleY(0.95);
  transform: scaleY(0.95);
  -webkit-transform-origin: top;
  transform-origin: top;
}

.cl_cardDiskoActive {
  opacity: 1;
  -webkit-transition: all var(--trT-long) ease-in-out;
  -o-transition: all var(--trT-long) ease-in-out;
  transition: all var(--trT-long) ease-in-out;
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  -webkit-transform-origin: top;
  transform-origin: top;
}

/* -----------------layout allgemeines----------------- */
.cl_gridLine {
  grid-column: 1 /-1;
  border-bottom: var(--UIBorderThick);
}

.Text {
  max-width: var(--CardsMaxWidth);
}

.cl_pageTitle {
  padding-top: 2rem;
  align-self: center;
  grid-column: 1 / -1;
}

.cl_card {
  display: grid;
  grid-gap: var(--cardGap);
  min-width: var(--CardsMinWidth);
  max-width: var(--CardsMaxWidth);
  border-bottom: var(--UIBorderThick);
  padding: var(--cardGap);
  -webkit-box-align: start;
  align-items: start;
  -webkit-box-pack: center;
  justify-content: center;
  justify-self: center;
  grid-template-areas: "cardTitle cardDate"
    "cardImageParent cardImageParent"
    "cardText cardText"
    "cardCast cardCast"
    "cardLinks cardLinks";
  grid-template-columns: 1fr auto;
  grid-template-rows: auto auto auto auto 1fr;
}

.cl_cardLinks {
  grid-area: cardLinks;
  display: flex;
  flex-direction: row-reverse;
  width: auto;
  gap: var(--cardGap);
  cursor: pointer;
}

.cl_cardImageLink {
  width: auto;
  height: calc(var(--navbarHeight)*0.8);
  -webkit-filter: invert(var(--filter));
  filter: invert(var(--filter));
  -webkit-transition: all var(--trT-short) ease-in-out;
  -o-transition: all var(--trT-short) ease-in-out;
  transition: all var(--trT-short) ease-in-out;
}

.cl_cardImageLink:hover,
.cl_cardImageLink:focus {
  --filter: 0.7;
}

.cl_pageText {
  grid-column: 1 / -2;
  grid-row: 2;
  max-width: var(--CardsMaxWidth);
}

.cl_pageTextFull {
  grid-column: 1 / -1;
  grid-row: 2;
}

.cl_imageCenter {
  display: grid;
  justify-content: center;
  align-content: center;
}

/* -----------------mobile layout-------------------- */
@media screen and (max-width: 850px) {
  :root {
    --fs-Base: clamp(.5rem, 2vmin, 1rem);
    --mainMargin: auto clamp(2rem, 2vmin, 4rem);
  }

  nav {
    grid-template-columns: auto;
    grid-template-rows: auto 1fr repeat(9, auto);
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: start;
    justify-content: flex-start;
  }

  .cl_spotifySmall:hover, .cl_spotifySmall:focus {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    -webkit-transform: translate(30%, -60%);
    transform: translate(30%, -60%);
  }

  .cl_nav_hidables {
    display: block;
  }

  .cl_footer_hidables {
    display: none;
  }

  .cl_section_horizontal {
    display: grid;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    grid-template-columns: 1fr;
    grid-gap: var(--cardGap);
    -webkit-box-pack: center;
    justify-content: center;
  }

  .cl_spanAll {
    grid-column: 1 / span 1;
  }

  /* Disko */
  .cl_diskoWrapper {
    display: none;
  }

  .cl_cardDisko {
    position: relative;
    opacity: 1;
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
}

/* -------------used to hide sections! ---------------------------- */
[hidden] {
  display: none;
}

/* -------------image sizes ---------------------------- */
[uiSize~="big"] {
  max-width: var(--CardsMaxWidth);
  max-height: calc(var(--CardsMaxWidth) * 2/3);
  width: auto;
  height: auto;
}

[uiSize~="medium"] {
  max-width: var(--CardsMinWidth);
}

[uiSize~="small"] {
  min-width: var(--ImgPreviewWidth);
}

/* -------------alignment templates -------------------- */
.cl_subGrid {
  display: grid;
  min-height: var(--navbarHeight);
}

[uiTextAlign~="left"] {
  text-align: left;
}

[uiTextAlign~="center"] {
  text-align: center;
}

[uiTextAlign~="block"] {
  display: block;
  text-align: justify;
}

[uiTextAlign~="right"] {
  text-align: right;
}

/*  */
[uiAlign~="left"] {
  justify-content: start;
}

[uiAlign~="middle"] {
  -webkit-box-pack: center;
  justify-content: center;
  /* justify-items: center; */
}

[uiAlign~="right"] {
  justify-items: flex-end;
}

/*  */
[uiAlign~="top"] {
  /* align-content: start; */
  align-items: start;
}

[uiAlign~="center"] {
  -webkit-box-align: center;
  align-items: center;
}

[uiAlign~="bottom"] {
  align-items: flex-end;
}