/* all the inputs */
select {
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	height: var(--UIHeight1);
	text-decoration: none;
	background-color: hsl(var(--bgcButton));
	color: hsl(var(--txtButton));
	border: var(--UIBorderThin);
	border-radius: var(--UIRadius);
	padding: 0;
	vertical-align: middle;
}

select:hover {
	background-color: hsl(var(--bgcMain) / 0.6);
	color: hsl(var(--txtMain));
	transition-duration: 0.1s;
	transition-delay: 0s;
}

label {
	vertical-align: middle;
	border: var(--UIBorderThin);
}

label[for] {
	cursor: pointer;
}

.img_trash {
	content: url("../Images/Icons/trash.svg");
}

.img_oAdd {
	content: url("../Images/Icons/oAdd.svg");
}

.img_oSub {
	content: url("../Images/Icons/oSub.svg");
}

select {
	text-indent: var(--gridGap);
	border-right: var(--UIBorderRight);
	border-bottom: var(--UIBorderBottom);
	max-width: var(--UIWidth16);
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	/* padding-right: calc(2 * var(--padding)); */
}

select:disabled {
	background-color: hsl(var(--bgcBackground) / 0.1);
	color: var(--txtBackground);
	cursor: default;
}

button:disabled {
	background-color: hsl(var(--bgcBackground) / 0.05);
	color: hsl(var(--txtBackground));
	cursor: default;
}

button:active {
	background-color: hsl(var(--bgcMain));
	color: hsl(var(--txtMain));
	transition-duration: 0s;
	transition-delay: 0s;
}

[data-btnstatus="btnPositive"] {
	background-color: hsl(var(--bgcButtonPositive));
	color: hsl(var(--txtButtonPositive));
}

[data-btnstatus="btnNegative"] {
	background-color: hsl(var(--bgcButtonNegative));
	color: hsl(var(--txtButtonNegative));
}

[data-btnstatus="btnBasecolor"] {
	background-color: hsl(var(--bgcMain));
	color: hsl(var(--txtMain));
}

input[type="number"] {
	appearance: none;
	-moz-appearance: textfield;
	width: var(--UIWidth3);
	padding: var(--padding);
}

/* Webkit browsers like Safari and Chrome */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	-webkit-appearance: none;
}

input[type="checkbox"] {
	/* mox: none; because "Checkbox" does not work */
	-moz-appearance: none;
	-webkit-appearance: checkbox;
	appearance: checkbox;
	width: var(--UIHeight1);
	height: var(--imgSize);
	cursor: pointer;
}

input[type="image"] {
	height: var(--imgSize);
	width: var(--imgSize);
	background-color: transparent;
  line-height: 1;
	border-color: transparent;
	padding: 0;
	margin: 0 var(--padding);
}


.cl_infoCB,
.cl_info {
	display: inline-block;
	position: relative;
	height: var(--UIHeight1);
	background-color: hsl(var(--bgcBackground) / 0.15);
	color: hsl(var(--txtBackground));
	width: var(--UIWidth6);
	line-height: 150%;
	border: var(--UIBorderThin);
	border-radius: var(--UIRadius);
	text-align: center;
}
.cl_infoCB {
	width: var(--UIWidth1);
}

.cl_highlighted {
	background-color: hsl(var(--bgcButtonPositive));
	color: hsl(var(--txtButtonPositive));
}

.cl_outputText {
	padding: var(--padding);
	border-top: var(--borderThin);
}

.cl_abcHighlight {
	fill: hsl(var(--bgcButtonPositive));
}

.cl_abcCursor {
	stroke: hsl(var(--bgcButtonPositive));
}

/*                                 BUTTONSIZES AND RADIUS-TYPES!!!*/

[uiSize~="size1"] {
	width: var(--UIWidth1);
}
[uiSize~="size2"] {
	width: var(--UIWidth2);
}
[uiSize~="size3"] {
	width: var(--UIWidth3);
}
[uiSize~="size4"] {
	width: var(--UIWidth4);
}
[uiSize~="size5"] {
	width: var(--UIWidth5);
}
[uiSize~="size6"] {
	width: var(--UIWidth6);
}
[uiSize~="size7"] {
	width: var(--UIWidth7);
}
[uiSize~="size8"] {
	width: var(--UIWidth8);
}
[uiSize~="size9"] {
	width: var(--UIWidth9);
}
[uiSize~="size10"] {
	width: var(--UIWidth10);
}
[uiSize~="size11"] {
	width: var(--UIWidth11);
}
[uiSize~="size12"] {
	width: var(--UIWidth12);
}
[uiSize~="size13"] {
	width: var(--UIWidth13);
}
[uiSize~="size14"] {
	width: var(--UIWidth14);
}
[uiSize~="size15"] {
	width: var(--UIWidth15);
}
[uiSize~="size16"] {
	width: var(--UIWidth16);
}
[uiSize~="size17"] {
	width: var(--UIWidth17);
}
[uiSize~="size18"] {
	width: var(--UIWidth18);
}
[uiSize~="size19"] {
	width: var(--UIWidth19);
}
[uiSize~="size20"] {
	width: var(--UIWidth20);
}

[uiSize~="height2"] {
	height: var(--UIHeight2);
}

[uiSize~="height3"] {
	height: var(--UIHeight3);
}


[uiWrap~="nowrap"] {
	white-space: nowrap;
}

[uiRadius~="none"] {
	border-radius: 0;
}

[uiRadius~="top"] {
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

[uiRadius~="right"] {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

[uiRadius~="bottom"] {
	border-top-right-radius: 0;
	border-top-left-radius: 0;
}

[uiRadius~="left"] {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}